<%- include("partials/header") %>
    
    <div id="container">
        <h1 class="page-title">
            Movies Page
        </h1>
        <div id="film-container">
            <% films.forEach((film) => { %>
            <div id="film-card">
                <img id="film-image" src="<%= film.artwork %>" alt="film's artwork is here">
                <h3 id="film-name"><%= film.name %></h3>
                <h6 id="film-cast"><%= film.casts %></h6>
                <p id="film-description"><%= film.description %></p>
            </div>
            <% }) %>
        </div>
    </div>

<%- include("partials/footer") %>