<%- include("partials/header") %>
    <div class="container">
        <div class="row mt-2">
            <% films.forEach((film) => { %>
                <div class="card m-3">
                    <a href="/movies/<%= film._id %>">
                        <img class="card-img card-img-top" src="<%= film.artwork %>" alt="film's artwork is here">
                    </a>
                    <h3 class="card-title mt-3"><%= film.name %></h3>
                    <h6 class="card-cast"><%= film.casts %></h6>
                    <h6 class="card-genre"><%= film.genre %></h6>
                    <!--<h6 class="card-year"><%= film.year %></h6>-->
                    <!--<p class="card-text mb-3 mx-3"><%= film.description %></p>-->
                </div>
            <% }) %>
        </div>
    </div>
<%- include("partials/footer") %>