<%- include("partials/header") %>
    <div class="container">
        <div class="row">
            <div class="col-6 show_image-container mt-2">
                <img src="<%= film.artwork %>" alt="a picture of a a film">
            </div>
            <div class="col-6 mt-2">
                <h1><%= film.name %></h1>
                <p><%= film.description %></p>
                <table class="table">
                    <tbody>
                        <tr>
                        <th scope="row">Name</th>
                        <td><%= film.name %></td>
                        </tr>
                        <tr>
                        <th scope="row">Casts</th>
                        <td><%= film.casts %></td>
                        </tr>
                        <tr>
                        <th scope="row">Release Date:</th>
                        <td><%= film.date %></td>
                        </tr>
                        <tr>
                        <th scope="row">Origin</th>
                        <td><%= film.origin %></td>
                        </tr>
                        <tr>
                        <th scope="row">Genre</th>
                        <td><%= film.genre %></td>
                        </tr>
                    </tbody>
                </table>
                <a href="/movies/<%= film._id %>/edit">
                    <button class="btn btn-outline-primary btn-lg col-12">EDIT</button>
                </a>
                <form action="/movies/<%= film._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-outline-danger btn-lg col-12 mt-2">DELETE</button>
                </form>
            </div>
        </div>
        <div class="row show_comment-header mt-3">
            COMMENT HERE:
        </div>
        <% comments.forEach((comment) => { %>
            <div class="row show_comment-container py-2">
                <div class="col-3">
                    <%= comment.user %>
                </div>
                <div class="col-9">
                    <%= comment.text %>
                </div>
            </div>
        <% }) %>
    </div>
<%- include("partials/footer") %>